.completed-div {
    display: grid;
    font-family: 'Averia Sans Libre', cursive;
    align-content: space-around;

  .about-btn,
  .clear-btn {
    margin: auto;
  }

  .about-btn {
    height: 3em;
    width: 6em;  
  }

  .clear-btn {
    border-radius: 30px;
    height: 4em;
    width: 7em;
  }

  .completed-box {
    background-color: #fbeec1;
    border: solid 3px #daad86;
    font-size: .8em;
    margin: auto;
    margin-top: 0;
    width: 70%;
  }

}