.question-card {
  background-color: #fbeec1;
  border: solid 3px #daad86;
  border-radius: 20px;
  box-shadow: 0 6px 12px 6px rgba(0,0,0,0.2);
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
  height: 85%;
  margin: auto;
  width: 60%;

  p {
    font-size: 1.1em;
    padding: 1em;
    margin: auto;
  }
}