@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre");
@import url("https://fonts.googleapis.com/css?family=Passion+One");

.App {
  background-color: #659dbd;
  display: grid;
  height: 100vh;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  text-align: center;

  .App-header {
    background-color: #8d8741;
    display: flex;
    grid-column: 1 / 3;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Passion One', cursive;
    font-size: 1.5em;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
